# Project 1

In this project, you will create a student grading system. What is required of you:

● Choose a lesson for yourself. (Math, Physics, Linear Algebra etc.)

● Create your note range (100-80 ⇒ A, 79-70 ⇒ B etc.)

● You can enter Student Information (Name, Surname, School Number, exam score) and
Create a system where information can be kept.

● Based on the information entered, it shows whether the student has passed the course or not.
required.

● If the student has passed the course, "Passed" in the field where the student's information is kept,
If the student did not pass the course, he/she should show the text "failed".

● A list of students whose grades are entered shows those who pass the course and those who do not.
Create the dataframe.

● Convert the created Dataframe to Excel table

### Importing Libraries

In [1]:
# Pandas and Numpy
import pandas as pd
import numpy as np

In [2]:
def dict_to_df(dictionary):
  return pd.DataFrame(dictionary)

In [7]:
def note_dict():
  df_dict = {'name' : [], 'surname' : [] , 'school_no'  : [], 'class_name' : [] ,'note' : [], 'letter_grade': [], 'result' : []}
  while True:
    class_name = str(input('Enter the class: '))
    name = str(input("Enter student's name: "))
    surname = str(input("Enter student's surname: "))
    school_no = int(input("Enter student's school number: "))
    grade = int(input("Enter the student's grade: "))
    system = input("If you want to exit click 'q'  or keep going to add new student information click 'c': " )

    df_dict['class_name'].append(class_name)
    df_dict['name'].append(name)
    df_dict['surname'].append(surname)
    df_dict['school_no'].append(school_no)
    df_dict['note'].append(grade)
    if(grade >= 80):
      df_dict['letter_grade'].append('A')
      df_dict['result'].append('Passed')
    elif(grade <= 79 and grade >= 70):
      df_dict['letter_grade'].append('B')
      df_dict['result'].append('Passed')
    elif(grade <= 69 and grade >= 60):
      df_dict['letter_grade'].append('C')
      df_dict['result'].append('Passed')
    elif(grade <= 59 and grade >= 50):
      df_dict['letter_grade'].append('D')
      df_dict['result'].append('Left')
    else:
      df_dict['letter_grade'].append('F')
      df_dict['result'].append('Left')
    
    # Tie Condation
    if(system == 'q'):
      break

  return dict_to_df(df_dict)

In [8]:
def df_to_xlsx(data_frame):
  data_frame.to_excel("project1.xlsx")

In [10]:
df = note_dict()

Enter the class: Math
Enter student's name: Muhammet
Enter student's surname: Can
Enter student's school number: 556
Enter the student's grade: 90
If you want to exit click 'q'  or keep going to add new student information click 'c': c
Enter the class: Physics
Enter student's name: Ebru
Enter student's surname: Sır
Enter student's school number: 45
Enter the student's grade: 40
If you want to exit click 'q'  or keep going to add new student information click 'c': c
Enter the class: Biology
Enter student's name: Kerem
Enter student's surname: Dur
Enter student's school number: 990
Enter the student's grade: 67
If you want to exit click 'q'  or keep going to add new student information click 'c': q

In [11]:
df

       name surname  school_no class_name  note letter_grade  result
0  Muhammet     Can        556       Math    90            A  Passed
1      Ebru     Sır         45    Physics    40            F    Left
2     Kerem     Dur        990    Biology    67            C  Passed

In [ ]:
df_to_xlsx(df)

-----